<mat-sidenav-container class="example-container" >
    <mat-sidenav #sidenav mode="over" [(opened)]="opened" >
        <mat-toolbar color="primary" role="heading">
            <span>Menu</span>
            <span class="remaining-space"></span>
            <button mat-button (click)="sidenav.toggle()">
              <mat-icon>clear</mat-icon>
            </button>
        </mat-toolbar>
    </mat-sidenav>
  <mat-sidenav-content>
      <mat-toolbar color="primary" role="heading">
          <span>
            <button mat-button (click)="sidenav.toggle()">
            <mat-icon>view_headline</mat-icon>
            </button>
          </span>
          <span>{{title}}</span>
          <span class="remaining-space"></span>
          <span>Right Aligned Text</span>
      </mat-toolbar>
      <div class="container-fluid test"></div>
  </mat-sidenav-content> 

</mat-sidenav-container>
