.remaining-space{
    flex: 1 1 auto;
}
mat-sidenav{
    min-width: 300px;
    color: white;
    background-color: #707fd0;
}
.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
.test{
    background-color: aquamarine;
    height: 300px;
}