<div class="container col-9">
  <div class="table-responsive table-container"></div>
  <h2> Listes des indications</h2>
  <table class="table table-light table-hover table-striped">
    <thead class="thead-light">
      <tr>
        <th>Id</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let indication of indications">
        <td>{{ indication.id }}</td>
        <td>{{ indication.description }}</td>
        <td>
          <button class="btn btn-info" routerLink="/indication/edit/{{ indication.id }} " >
            <mat-icon>edit</mat-icon>  
          </button>

          <button (click)="deleteIndication(indication.id)" class = "btn btn-danger">
            <mat-icon>delete</mat-icon>
          </button>
        </td>        
      </tr>
    </tbody>
  </table>
  <button (click)="createIndication()" class = "btn btn-success">
    <mat-icon>add_circle</mat-icon>
  </button>
</div>
